<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example title</title>
</head>
<body bgcolor="bbbbbb">
    <h1>Important information</h1>
    <p>Yes, this is important</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laudantium delectus eos accusamus temporibus ex odit ad reprehenderit totam itaque.
    </p>
    <p>Send me mail at <a href="mailto:support@yourcompany.com"></a></p>
    
</body>
</html>