<h1>FAQ page</h1>
<ul>
    <li>
        <b>Is there a free version?</b> Yes, we offer 30 days...
    </li>
    <li>
        <b>What are your support hours?</b>It's 24/7, though response times may be slower on weekends.
    </li>
    <li>
        <b>How do I contact support?</b> Just send us an email.
    </li>
</ul>