{{ template "header" . }}
<div class="px-6">
    <h1 class="py-4 text-4x1 semibold tracking-light">Welcome to my awesome site!!!</h1>
</div>
<br>
<p><a href="/" class="px-4 py-2 text-white rounded bg-indigo-600 hover:bg-indigo-800">Sign up</a></p>
{{ template "footer" . }}