{{ template "header" . }}
<form action="">
    <div>
        <label for="">Email address</label>
        <input type="text">
    </div>
    <div>
        <label for="">Password</label>
        <input type="text">
    </div>
    <div>
        <button>SIGN UP</button>
    </div>
</form>
{{ template "footer" . }}